body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(9, 98, 40);
    background-color: rgb(243, 32, 144);
    margin: 0;
    padding: 0;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 30px;
    background: 0 0 10px rgb(78, 32, 32);
}

input, button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background: rgb(82, 10, 34);
    color: rgb(179, 97, 179);
    border: none;
    cursor: pointer;
}

button:hover {
    background: rgb(13, 176, 13);
}

.site-header {
    background-color: rgb(89, 2, 47);
    color: rgb(230, 6, 77);
    padding: 20px;
    text-align: center;
}

.site-header nav ul {
    list-style: none;
    padding: 0;
}

.site-header nav ul li {
    display: inline;
    margin: 0 10px;
}

.site-header nav ul li a {
    color: rgb(55, 111, 41);
    text-decoration: none;
}

.content {
    padding: 20px;
}

.site-footer {
    background-color: rgb(74, 112, 18);
    color: rgb(197, 222, 197);
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.login-status {
    text-align: right;
    margin-right: 20px;
    color: rgb(87, 169, 169);
}

#login {
    font-size: 14px;
    color: rgb(24, 88, 52);
    text-align: center;
    margin-top: 10px;
}
